<div class="modal fade" tabindex="-1" role="dialog" #modalRoot (keydown.esc)="settings?.closeOnEscape ? close() : 0" [ngStyle]="{ display: isOpened ? 'block' : 'none' }" (click)="settings?.closeOnOutsideClick ? close() : 0">
    <div [class]="'modal-dialog ' + settings?.modalClass" (click)="preventClosing($event)">
        <div class="modal-content" tabindex="0" *ngIf="isOpened">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="settings?.title">{{ settings?.title }}</h4>
                <button *ngIf="!settings?.hideCloseButton" type="button" class="close" [attr.aria-label]="settings?.cancelButtonLabel || 'Close'" (click)="close()"><span aria-hidden="true">&times;</span></button>
                <ng-content select="modal-header"></ng-content>
            </div>
            <div class="modal-body">
                <ng-content select="modal-content"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select="modal-footer"></ng-content>
                <button *ngIf="settings?.secondaryButtonLabel" type="button" class="btn btn-default" (click)="close()">{{ settings?.secondaryButtonLabel }}</button>
                <button *ngIf="settings?.primaryButtonLabel" type="button" class="btn btn-primary" (click)="onSubmit.emit()">{{ settings?.primaryButtonLabel }}</button>
            </div>
        </div>
    </div>
</div>