<button class="btn btn-primary" (click)="modal1.open()">open</button>
<modal #modal1>
    <modal-header>
        Modal 1
    </modal-header>

    <modal-content>
        Modal body content goes there.
    </modal-content>

    <modal-footer>
        Modal footer content goes there.
        <button class="btn btn-primary" (click)="asComponent2()">open1</button>

    </modal-footer>
</modal>
<button class="btn btn-primary" (click)="modal2.open()">open1</button>

<modal #modal2>
    <modal-header>
        Modal header content goes there.
    </modal-header>

    <modal-content>
        Modal body content goes there.
    </modal-content>

    <modal-footer>
        Modal footer content goes there.
    </modal-footer>
</modal>

<button class="btn btn-primary" (click)="asComponent()">As Comp</button>
<button class="btn btn-primary" (click)="asComponent2()">As Comp2</button>

<button class="btn btn-primary" (click)="asTemplate()">template</button>

<button class="btn btn-primary" (click)="close()">close</button>